<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue Checkout</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="nav-bar">Nike</div>
  <div id="app">

    <div class="product">

      <div class="product-image">
        <img :src="image" />
      </div>

      <div class="product-info">
        <p class="category">Athlete's {{ category }} Shoe</p>
        <h1>{{ product }}</h1>
        <a :href="link" target="_blank">See more here</a>
        <p v-if="inStock">In Stock</p>
        <p v-else>Out of Stock</p>
        <span v-if="onSale">On Sale!</span>

        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <div class="variants" v-for="variant in variants" :key="variant.variantId">{{variant.variantColor }}</div>

        <p class="sizes">Sizes:</p>
        <ul>
          </p>
          <li v-for="size in sizes" :key="size">{{ size }}</li>
        </ul>

      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="app.js"></script>

</body>

</html>